<div>
  <div class="grid grid-cols-2">
    <button
      class="bg-red-800 text-white font-bold px-3 py-2 rounded-lg shadow-xl hover:shadow-none w-[6rem]"
      (click)="SetUi('home')"
    >
      Go Back
    </button>
    <h3 class="text-xl font-bold">{{ ui.toUpperCase() }} POST</h3>
  </div>

  <form
    class="border-2 border-blue-300 my-4 rounded-lg gap-4 p-4"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col gap-2">
      <label for="title">Title</label>
      <input
        class="p-2 text-md outline-none rounded-lg"
        type="text"
        name="title"
        [(ngModel)]="title"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="content">Content</label>
      <textarea
        class="p-2 text-md outline-none rounded-lg h-40"
        name="content"
        [(ngModel)]="content"
      ></textarea>
    </div>
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-green-800 text-white font-bold px-3 py-2 rounded-lg shadow-xl hover:shadow-none w-[6rem] mt-4"
      >
        Submit
      </button>
    </div>
  </form>
</div>
