<div>
  <div class="bg-blue-200 p-2 rounded-lg" (click)="goToPostPage(post)">
    <h3 class="font-bold text-slate-800 flex">
      <span class="text-lg font-bold min-w-[6.5rem]">Title: </span
      >{{ post.title }}
    </h3>
    <p class="flex">
      <span class="text-lg font-bold min-w-[6.5rem]">Content: </span
      ><span class="text-justify">{{ truncateText(post.content) }}</span>
    </p>
    <p class="flex">
      <span class="text-lg font-bold min-w-[6.5rem]">createdAt: </span>
      {{ post.publishedAt }}
    </p>
    <p class="flex">
      <span class="text-lg font-bold min-w-[6.5rem]">updatedAt: </span>
      {{ post.updatedAt }}
    </p>
  </div>
  <div class="flex justify-between m-2">
    <button
      class="bg-green-800 text-white font-bold px-3 py-2 rounded-lg shadow-xl hover:shadow-none"
      (click)="SetUi('edit', post)"
    >
      Update
    </button>
    <button
      class="bg-red-800 text-white font-bold px-3 py-2 rounded-lg shadow-xl hover:shadow-none"
      (click)="DeletePost(post)"
    >
      Delete
    </button>
  </div>
</div>
